* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1 px solid #ececec;
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__right {
    position: relative;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 93px;
    font-family: Lato;
    font-size: 27px;
    letter-spacing: 0.68px;
    margin-right: 82px;
}

#d {
    color: #f16d7f;
    font-family: "Lato - Black";
    font-weight: 400;
    letter-spacing: 0.68px;
}

.logo__img {
    margin-right: 13px;
}

.browse {
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    /* Style for "Rounded Re" */
    width: 295px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    line-height: 32px;
    text-align: center;
}
.browse:hover .drop__down{
    display: flex;
}
.drop__down:before{
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #fff;
    top: -7px;
    left: 295px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.input {
    width: 317px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding-left: 15px;
}

.input text {
    color: #fff;

}

.button__serch {
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;


}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
.menu-hover:hover{
    border-bottom: 1px solid #000;
box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}

.center {
    padding: 0 calc(50% - 570px)
}

.header__cart {
    margin-right: 26px;
}

.button {
    /* Style for "My Account" */
    width: 82px;
    height: 14px;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    /* Text style for "M, y Accou" */
    letter-spacing: 0.38px;
    border: 1px solid #f16d7f;
    text-align: center;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    padding:10px 15px
    
}
.header__cart:hover .mycart{
    display: flex;
}

.promo {
    background-color: #e8e8e8;
    height: 613px;
}

.promo__content {
    background-image: url(img/promo.png);
    background-repeat: no-repeat;
    background-position: 0 -50px;
    height: 100%;
    display: flex;
    align-items: center;
}

.promo__text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    margin-left: 70px;
}

.brand__text {
    width: 485px;
    height: 92px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 1.5px;
}

#lux {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

.fash {
    font-size: 40px;
    font-weight: 700;
    color: #f16d7f;
    letter-spacing: 1px;
}

.picturs {
    display: flex;
    align-items: center;
    margin-top: 98px;
    margin-left: 0px;

    position: relative;
}

.picMan {
    width: 560px;
    height: 542px;
    padding: 20px;

}

.picWoman {
    width: 560px;
    height: 260px;
    padding: 20px;


}

.picKid {
    width: 560px;
    height: 542px;
    padding: 20px;

}

.picAcs {
    width: 560px;
    height: 261px;
    padding: 20px;

}

.pic_one h3 {
    position: absolute;
}

pic_two h3 {
    position: absolute;
    margin-top: 1000px;
}

.text_men {
    margin-top: -500px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 13px;
    text-align: center;

}

.text_acs {
    margin-left: 20px;
    margin-top: -240px;
    border: 1px solid #ffffff;
    background: #ffffff;
    padding: 13px;
    text-align: center;
}

.text_woman {
    position: absolute;
    border: 1px solid #ffffff;
    background: #ffffff;
    margin-left: 20px;
    margin-top: -250px;
    padding: 13px;
    text-align: center;
}

.text_kids {
    position: absolute;
    border: 1px solid #ffffff;
    background: #ffffff;
    margin-left: 20px;
    margin-top: -500px;
    padding: 13px;
    text-align: center;
}

.red {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.content_text h1 {
    margin-left: 554px;
    margin-top: 100px;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.content_text p {
    margin-left: 487px;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
}


.product-box{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product{
    width: 263px;
    position: relative;
    margin-bottom: 39px;
}
.product:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.product:hover .product__add{
    display: flex;
}
.product:hover .product__img{
    filter:brightness(50%);
}
.product__img{
    width: 100%;
}
.product__text{
    padding: 20px 13px;
}
.product__name{
    color: #222222;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
}
.product__price{
    color: #f16d7f;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
    margin-top: 17px;
}
.product__add{
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 123px;
    height: 39px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 98px;
    left: 70px;
    box-shadow: 0 0 5px #fff;
    padding-right: 12px;
}




.button_browse {
    margin-top: 97px;
    margin-left: 600px;
    border: 1px solid #f16d7f;
    width: 175px;
    height: 48px;
    display: flex;
    background-color: #f16d7f;
}

.button_browse p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
}

.button_str {
    padding-left: 9px;
}

.promo_2 {
    height: 475px;
background-image: url(img/Background-ban.svg);
display: flex;
margin-left: 200px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.promo__content-2 {
    background-image: url(img/promo-baner.png);
    width: 1800px;
    background-repeat: no-repeat;
    background-position: 0 -50px;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.img__form{
float: left;
padding-right: 20px;
padding-bottom: 70px;
}
.delivery-h3{
color: #fbfbfb;
font-size: 20px;
font-weight: 700;
letter-spacing: 0.5px;
}
.delivery{
    /* Style for "Worldwide" */
color: #fbfbfb;
font-size: 14px;
font-weight: 300;
line-height: 24px;
/* Text style for "W, orldwid" */
letter-spacing: 0.35px;
}
.promo-text{
    margin-left: 30px;
    margin-bottom: 130px;
}
.promo-text h2{
   color: #ffffff;
font-size: 54px;
font-weight: 700;
text-transform: uppercase 
}
.offer{
    color: #f16d7f;
letter-spacing: 1.5px;
}
.promo-text p{
    color:#fff;
    font-weight: 700;

    font-size: 32px;
letter-spacing: 0.9px;
}
.left__promo-content{
    display: flex;
    flex-direction: column;
justify-content: space-around;
    margin-left: 80px;
}

.footer {
    background-color: #ccc;
    display: flex;
    align-items: center;  
}



.footer__left p {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    /* Text style for "©,  2017" */
    letter-spacing: 0.4px;
}

.footer__right {
    margin-left: 600px;
}
.hover-footer:hover{
    border: 1px solid red;
    background-color: red;
}

.fb {
    border: 1px solid #ffffff;
    background-color: #fff;
    padding: 7px;
}

.tt {
    border: 1px solid #f16d7f;
    background-color: #f16d7f;
    padding: 7px;
}

.in {
    border: 1px solid #ffffff;
    background-color: #ffcccc;
    padding: 7px;
}

.pi {
    border: 1px solid #ffffff;
    background-color: #fff;
    padding: 7px;
}

.go {
    border: 1px solid #ffffff;
    background-color: #fff;
    padding: 7px;
}

.information {
    text-align: center;
    margin-top: 100px;
}

.info__text {
    float: left;
    width: 427px;
    margin-left: 73px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin-top: 50px;
}

.logo_info {

    display: flex;
    align-items: center;
    width: 93px;
    font-family: Lato;
    font-size: 27px;
    letter-spacing: 0.68px;
    margin-left: 92px;
}

#di {
    color: #f16d7f;
    font-family: "Lato - Black";
    font-weight: 400;
    letter-spacing: 0.68px;
}

.logo-img {
    margin-right: 13px;
}

.tab__info {
    margin-left: 620px;
    margin-bottom: 100PX;
}

.tab__info th,
.tab__info td {
    padding-left: 15px;
}

.tab_th {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.tab_td {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 59px;

}
.subscribe{
    position: relative;
}

.fon__sub{
    position: absolute;
    width: 1350px;
    height: 400px;
   
}
.vid{
    position: relative;  
    width: 1350px;
    height: 400px;
}
.img-kons{
position: absolute;
margin-top: -350px;
margin-left: 200px;
}
.sub__text-l{
    position: absolute;
margin-top: -350px;
margin-left: 300px;
    width: 390px;
color: #222224;
font-size: 16px;
font-style: italic;
line-height: 26px;
letter-spacing: 0.4px;
}
.bin{
    position: absolute;
margin-top: -270px;
margin-left: 300px;
color: #f16d7f;
font-size: 16px;
font-weight: 700;

letter-spacing: 0.4px;
    line-height: 26px;
}
.name{color: #222224;
font-size: 12px;
font-weight: 300;
letter-spacing: 0.3px;
line-height: 14px;
}
.sub__right{
    position: absolute;
    margin-top: -300px;
    margin-left:800px;

}


.sub-h2{
    margin-left: 30px;
color: #222224;
font-weight: 700;
font-size: 24px;
letter-spacing: 0.6px;
line-height: 54px;
text-transform: uppercase;
}
.sub-p{
    
    letter-spacing: 0.35px;
line-height: 24px;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
margin-bottom: 35px;


    }
.sub_input{
    padding-left: 10px;
    padding-right: 10px;
background-color: #f2f2f2;
    width: 282px;
    height: 46px;
}
.button_sub{
    padding-left: 20px;
    padding-right: 20px;
    height: 52px;
border-radius: 0 23px 23px 0;
background-color: #f16d7f;

}
.button_sub p{
color: #ffffff;
font-size: 14px;
font-weight: 400;
line-height: 54px;
letter-spacing: 0.35px;
}
.product_content{
    height: 1000px;
}

.products-header{
    display: flex;
    
    align-items: center;
    width: 1610px;
    height: 150px;
    background-color: #f8f3f4;
}
.carts {
    padding-right: 10px;
    padding-left: 12px;
}

.drop {
    position: absolute;
    border:1px solid #ececec;
    border-radius: 5px;
background-color: #ffffff;
    padding: 12px 20px;
    display: none;
    top: 48px;
    left: -5px;
    
    
}

.drop:before{
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #fff;
    top: -7px;
    left: 35px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    
    
    
    
}



.drop__h3 {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e8e8e8;
        color: #232323;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
padding-top: 8px;
letter-spacing: 0.35px;
}

.drop__link {
    color: #646464;
font-size: 14px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.35px;
}

.drop__link:hover{
    color: #f16d7f;
    border-bottom: 1px solid #ccc;
}

.drop__ul {
    list-style-type: none;
}

.drfop-flex {
    width: 235px;
}

.drop-flex {
    width: 235px;
    margin-left: 46px;
}
.drop-flex:last-of-type{
    margin-right: 0;
}

.menu__list {
    position: relative;
}
.menu__list:hover .drop{
    display: flex;
}

.drop_last {
    right: 0;
    left: auto;
    
}
.drop_last::before{
    right: 45px;
    left:auto;
}



.drop_feat {
    right: auto;
    left: -500px;
}
.drop_feat::before{
    right: 245px;
    left: auto;
}

.drop_accos {
    right: -205px;
    left: auto;
}
.drop_accos::before{
    right: 300px;
    left: auto;
}

.drop_kid {
    right: -400px;
    left: auto;
}
.drop_kid::before{
    right: 420px;
    left: auto;
}

.super {
    
    position: absolute;
    margin-top: 60px;
    margin-left: 170px;
    color: #ffffff;
font-size: 22px;
font-weight: 400;
text-transform: uppercase;

letter-spacing: 0.55px;
}



.super_img {
    float: left
}

.drop_down {
    
}

.drop__down {
       position: absolute;
    border:1px solid #ececec;
    border-radius: 5px;
background-color: #ffffff;
    padding: 12px 20px;
    margin-left: 40px;
    display: none;
    top: 68px;
    left: -5px;
}

.mycart {
    position: absolute;
    width: 260px;
    height: 440px;
    border: 1px solid #eaeaea;
background-color: #ffffff;
     display: none;
    top: 45px;
    left: -15px;
    
   
   
}
.mycart:before{
     content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #fff;
    top: -7px;
    left: 35px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}



.go_cart {
    color: #4a4a4a;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
}

.chekout {
    color: #f16d7f;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
    border: 1px solid #f16d7f;
    border-radius: 5px;
background-color: #ffffff;
}

.re_sum {
    color: #222222;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
}

.total {
    display: flex;
    justify-content: space-between;
}

.re_price {
    color: #f16d7f;
font-size: 12px;
font-weight: 400;
text-transform: uppercase;

font-size: 10px;
}

.rebox {
    color: #222222;
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
}













.newArrivals {
    color: #f16d7f;
font-size: 24px;
font-weight: 400;
text-transform: uppercase;
    margin-left: 200px;
}

#breadcrumbs-one ul{
     
      margin: 0;
      padding: 0;
      list-style: none;
    
}
 #breadcrumbs-one{
     margin-left: 500px;
      background: #eee;
      border-width: 1px;
      border-style: solid;
      border-color: #f5f5f5 #e5e5e5 #ccc;
  
      border-radius: 5px;
    
      box-shadow: 0 0 2px rgba(0,0,0,.2);
      /* Clear floats */
      overflow: hidden;
    }
    
    #breadcrumbs-one li{
      float: left;
    }
    
    #breadcrumbs-one a{
      padding: .7em 1em .7em 2em;
      float: left;
      text-decoration: none;
      color: #444;
      position: relative;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
      background-color: #ddd;
      background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#ddd));
      background-image: -webkit-linear-gradient(left, #f5f5f5, #ddd);
      background-image: -moz-linear-gradient(left, #f5f5f5, #ddd);
      background-image: -ms-linear-gradient(left, #f5f5f5, #ddd);
      background-image: -o-linear-gradient(left, #f5f5f5, #ddd);
      background-image: linear-gradient(to right, #f5f5f5, #ddd);  
    }
    
    #breadcrumbs-one li:first-child a{
      padding-left: 1em;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
    }
    
    #breadcrumbs-one a:hover{
      background: #fff;
        color: red;
        
    }
    
    #breadcrumbs-one a::after,
    #breadcrumbs-one a::before{
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1.5em;   
      border-top: 1.5em solid transparent;
      border-bottom: 1.5em solid transparent;
      border-left: 1em solid;
      right: -1em;
    }
    
    #breadcrumbs-one a::after{ 
      z-index: 2;
      border-left-color: #ddd;  
    }
    
    #breadcrumbs-one a::before{
      border-left-color: #ccc;  
      right: -1.1em;
      z-index: 1; 
    }
    
    #breadcrumbs-one a:hover::after{
      border-left-color: #fff;
    }
    


  
    



.content__products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.picturs_products {
    background-color:#e9e9e9;
}
